html {
    scroll-behavior: smooth;
    scroll-padding-top: 73px;
}

.overlay {
    position: absolute;
    top: 82px;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 10;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#menu-toggle:checked ~ .overlay {
    display: block;
}

.nav-list li {
    position: relative;
}

.nav-list li::before,
.nav-list li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--cream-bg);
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.nav-list li::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.nav-list li::after {
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.nav-list li:hover::before,
.nav-list li:hover::after {
    transform: scaleX(1);
}


.nav-list a {
    transition: all 0.32s ease-out;
}

.nav-list a:hover {
    color: var(--text-cream-dark);
}

.btn-hero .btn-primary {
    transition: all 0.2s ease-out ;
}

.btn-hero .btn-primary:hover {
    background-color: var(--white-bg);
}

.btn-hero .btn-secondary {
    transition: all 0.2s ease-out ;
}

.btn-hero .btn-secondary:hover {
    background-color: transparent;
    color: var(--white-bg);
    border: 2px solid var(--white-bg);
}

.about-info button {
    transition: all 0.2s ease-out ;
}

.about-info button:hover {
    background-color: transparent;
    border: 2px solid var(--text-cream-dark);
}

.cards-perros button {
    transition: all 0.2s ease-out;
}

.cards-perros button:hover {
    background-color: var(--text-cream-dark);
}

/* Animacion Opacidad */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animacion de arriba hacia abajo */

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

/* Animacion de derecha hacia izquierda */

@keyframes slide-right {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}

/* Animacion de izquierda hacia derecha */

@keyframes slide-left {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(20px);
    }
}

h1 {
    animation: fade 1s ease-in, slide-up 0.9s ease-in-out;
}

.hero p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards;
    animation-delay: 1s;
}

.btn-hero {
    opacity: 0;
    animation: fade 0.8s ease-in forwards;
    animation-delay: 1s;
}


.about-img {
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-right 0.9s ease-in-out;
    animation-delay: 2s
}

.about-info {
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 2s
}

.services h2 {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out ;
    animation-delay: 4s;
}

.services-info-details {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out
} 

.services-info-details:nth-child(1) {
    animation-delay: 5s;
}

.services-info-details:nth-child(2) {
    animation-delay: 5.5s;
}

.services-info-details:nth-child(3) {
    animation-delay: 6s;
}

.services-info-details img {
    transition: all 0.3s linear;
}

.services-info-details img:hover {
    transform: scale(1.09);
}

.cards-perros img {
    transition: all 0.3s linear;
}

.cards-perros img:hover {
    transform: scale(1.05);
}