@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

body {
    background: url(../assets/portada2.jpg) no-repeat center top;
    background-size: cover;
    backdrop-filter: blur(5px);
    /* height: 100vh; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 360px;
    height: 460px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box img {
    width: 100px;
    /* height: 70px; */
    background-color: white;
}

.login-box h1 {
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 24px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
 
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.login-box button {
    padding: 10px 45px;
    border: none;
    background-color: blanchedalmond;
    color: var(--text-black);
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    border: 3px solid transparent;
}

.login-box button a {
    color: black;
}



.login-box button:hover {
    background-color: transparent;
    border: 3px solid blanchedalmond;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    margin-top: 15px;
}

.links a {
    color: darkgray;

}

.links a:hover {
    color: black;
}

/* Responsive */


@media(max-width: 2560px) and (min-width: 1600px) {
    .login-box {
        width: 560px;
        height: 750px;
    }

    .login-box img {
        width: 200px;
    }

    .login-box h1 {
        font-size: 38px;
    }

    .login-box label {
        font-size: 28px;
    }

    .login-box input[type="email"],
    .login-box input[type="password"] {
        height: 56px;
        font-size: 30px;
    }

    .login-box button {
        font-size: 28px;
    }

    .links {
        font-size: 22px;
    }
}

@media(max-width: 360px) {
    .login-box {
        width: 290px;
        height: 370px;
    }

    .login-box h1 {
        font-size: 20px;
        padding: 15px;
    }

    /* .login-box img {
        width: 45px;
    } */

    .login-box label {
        font-size: 14px;
    }

    .login-box input {
        margin-bottom: 15px;
    }

    .login-box input[type="email"],
    .login-box input[type="password"] {
        height: 20px;
        font-size: 12px;
    }

    .login-box button {
        padding: 5px;
        font-size: 16px;
    }

    .links {
        gap: 5px;
        font-size: 10px;
    }
}