@media(max-width: 2580px) and (min-width: 1600px){
    .hero {
        background-size: cover;
        height: 800px;
    }

    .about {
        max-width: 1500px;
    }

    .services-info-details {
        width: 300px;
        justify-content: flex-start;
    }

    .services-info-details:nth-child(2) p {
        width: 70%;
    }

    .contacto {
        align-items: center;
    }

    .contacto h2 {
        width: 1500px;
    }

    .contacto-footer {
        justify-content: center;
    }
}

@media(max-width: 1200px) {
    .hero h1 {
        font-size: 52px;
    }

    iframe {
        width: 330px;
    } 
}

@media(max-width: 992px) {
    header {
        padding: 15px 60px;
    }

    .menu-toggle {
        display: flex;

    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 58px;
        left: 5%;
        background-color: var(--cream-bg);
        width: 90%;
        padding: 20px;
        /* display: none; */
        z-index: 30;
        transform: translateY(-200%);
        transition: all 0.4s ease;
      
    }

    #menu-toggle:checked ~ .nav-list {
        /* display: flex; */
        transform: translateY(0);
    }

    nav i {
        display: block;
    }

    nav .log-in-list {
        flex-direction: column;
    }

    .hero {
        background-size: cover;
        height: 300px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 16px;
    }



    .about img {
        width: 250px;
        height: 420px;
        display: none;
    }

    .about-info {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about {
        gap: 0;
    }

    .about-info h2 {
        font-size: 24px;
    }
    
    .about-info p {
        font-size: 14px;
        width: 50%;
        margin-top: 10px;
    }

    .about-info button {
        width: 100px;
        padding: 10px;
        font-size: 14px;
    }

    .services {
        margin-top: 0px;
        padding: 70px;
    }

    .services h2 {
        text-align: center;
        font-size: 24px;
    }

    .services-info {
        flex-direction: column;
        gap: 30px;
    }

    .services-info-details p {
        width: 25%;
    }

    .services-info-details .img-box {
        width: 70px;
        height: 75px;
    }

    .services-info-details img {
        width: 30px;
    }

    .contacto {
        text-align: center;
    }

    .contacto-footer {
        flex-direction: column;
    }

    .contacto-info {
        justify-content: center;
    }

    .contacto-info-details {
        align-items: center;
    }

    iframe {
        width: 350px;
    }
    
}

@media(max-width: 768px) {
    .hero h1 {
        font-size: 24px;
    }

    .hero p {
        font-size: 12px;
    }
}


@media(max-width: 576px) {
    .hero {
        background-position: center;
        height: 385px;
        padding: 30px;
    }

    .btn-hero {
        gap: 10px;
    }

    .hero h1 {
        font-size: 32px;
        text-align: center;
        width: 50%;
        line-height: 1.2;
    }

    .hero p {
        font-size: 14px;
        text-align: center;
    }

    .btn-hero {
        flex-direction: column;
        top: 25px;
    }
    
    .btn-primary,
    .btn-secondary {
        padding: 10px 25px;
        font-size: 12px;
        width: 165px;
    }

    .cards h2 {
        font-size: 24px;
    }

    .cards-perros {
        width: 320px;
    }

    /* .cards-perros img {
        height: 320px;
        width: 285px;
    } */

    .contacto-info {
        flex-direction: column;
    }

    iframe {
        width: 250px;
    }

    .about {
        margin-top: 0;
    }

    .about-info p {
        width: 100%;
    }

    .services-info-details p {
        font-size: 12px;
        width: 50%;
    }

    .rights {
        font-size: 8px;
    }
}

@media(max-width: 380px) {
    .hero h1 {
        font-size: 26px;

    }
     .btn-hero {
        flex-direction: column;
        top: 25px;
     }

     .services {
        padding: 25px;
     }

     .cards-perros,
     .cards-perros2 {
        width: 275px;
     }

     .rights {
        text-align: center;
     }
}

@media(max-width: 320px) {
    header {
        padding: 15px 20px;
    }

    .hero {
        background-position-x: -60px;
        background-position-y: 0;
        height: 250px;
    }

    .hero h1 {
        font-size: 18px;
    }

    .hero p {
        font-size: 10px;
    }

    .btn-hero {
        gap: 5px;
        top: 15px;
        flex-direction: column;
    }

    .btn-primary,
    .btn-secondary {
        padding: 10px 20px;
        font-size: 10px;
        width: 100%;
    }

    .services {
        padding: 20px;
    }

    .btn-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cards {
        padding: 10px;
        margin-top: 15px;
    }

    .cards-container {
        max-width: 70px;

    }

    .cards-perros {
        width: 200px;
    }

    footer {
        padding: 5px;
    }

    .contacto-footer {
        gap: 20px
    }

    iframe {
        width: 150px;
        height: 210px;
    }

    .rights {
        margin-top: 5px;
    }

    .rights p {
        text-align: center;
    }
}

